version: '3.8'

services:
  mqtt-subscriber:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: netneural-mqtt-subscriber
    restart: unless-stopped
    env_file:
      - .env
    environment:
      - NODE_ENV=production
    volumes:
      - ./logs:/app/logs
    networks:
      - netneural
    logging:
      driver: 'json-file'
      options:
        max-size: '10m'
        max-file: '3'

networks:
  netneural:
    driver: bridge
